<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/ventas/add" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="producto" placeholder="Producto" autofocus>
                        </div>
                        <div class="form-group">
                            <textarea id="" rows="2" class="form-control" name="descripcion" placeholder="Descripcion"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" name="cliente" class="form-control" placeholder="Cliente">
                        </div>
                        <div class="form-group">
                            <input type="number" name="cantidadVendidos" class="form-control" placeholder="Cantidad Vendidos">
                        </div>
                        <div class="form-group">
                            <input type="number" name="montoVenta" class="form-control" placeholder="Monto total de la venta">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success">
                                Agregar nueva venta masiva
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>