<div class="container p-4">
    <h1 class="text-center">Agregar nueva venta masiva</h1>
    <br>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/ventas/add" method="POST">
                        {{#if productos}}
                        <div class="form-row">
                            <div class="col-auto my-1">
                                <p>Productos: </p>
                                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Productos</label>
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="producto">
                                    <option selected>Actual: {{productos.producto}}</option>
                                    {{#each productos}}
                                    <option>{{producto}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        {{else}}
                        <p>Si no tiene productos, puede agregarlos <a href="/mistock">AQUI</a></p>
                        <div class="form-group">
                            <label for="producto">Si no encuentra el producto, puede ingresarlo manualmente. Caso contrario dejar en blanco.</label>
                            <input type="text" class="form-control" id="producto" name="producto" placeholder="Producto" autofocus>
                        </div>
                        {{/if}}
                        <div class="form-group">
                            <textarea id="" rows="2" class="form-control" name="descripcion" placeholder="Descripcion"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" name="cliente" class="form-control" placeholder="Cliente">
                        </div>
                        <div class="form-group">
                            <input type="number" name="cantidadVendidos" class="form-control" placeholder="Cantidad Vendidos">
                        </div>
                        <div class="form-group">
                            <input type="number" name="montoVenta" class="form-control" placeholder="Monto total de la venta">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success">
                                Agregar nueva venta masiva
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 mx-auto">
            <div class="card">
                <h4 class="mx-auto">Listado de productos en stock:</h4>
                <div class="card-body">
                {{>tablaVentaMasiva}}
                </div>
            </div>
        </div>
    </div>
</div>