<main class="index" id="indexId">
    <header class="masthead d-flex" id="mastheadId">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Hola. Bienvenido a ArgSys</h1>
            <h3 class="mb-5">
                <em>Sistema POS online</em>
            </h3>
            <a href="/signin">
                <h4>Comienza ahora!</h4>
            </a>
        </div>
    </header>
</main>