<form action="/categorias/add" method="POST">
    <div class="form-group">
        <input type="text" class="form-control" name="titulo" placeholder="Categoria" autofocus>
    </div>
    <div class="form-group">
        <textarea name="descripcion" id="" rows="2" class="form-control" placeholder="Descripcion"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-success">
            Guardar nueva categoria
        </button>
    </div>
</form>