<form action="/ventas/add" method="POST">
    <div class="form-group">
        <input type="text" name="producto" class="form-control"  placeholder="Producto" autofocus>
    </div>
    <div class="form-group">
        <textarea id="" rows="2" name="descripcion" class="form-control"  placeholder="Descripcion"></textarea>
    </div>
    <div class="form-group">
        <input type="number" name="cliente" class="form-control" placeholder="Cliente">
    </div>
    <div class="form-group">
        <input type="number" name="cantidadVendidos" class="form-control" placeholder="Cantidad Vendidos">
    </div>
    <div class="form-group">
        <input type="number" name="montoVenta" class="form-control" placeholder="Monto de la venta total">
    </div>
    <div class="form-group">
        <button class="btn btn-success">
            Agregar nueva venta
        </button>
    </div>
</form>