<div class="grid-container">
  <div class="welcome">
    <div class="jumbotron">
        <h1>Cartera</h1>
    </div>
</div>
<div class="graficoUno">
    <div class="card text-white bg-dark h-100">
        <div class="card-header">Ganancias</div>
            <div class="card-body">
                <h5 class="card-title">Ganancias Brutas: $ {{carteraDos.gananciaBrutaTotal}}</h5>
                <h5 class="card-title">Ganancias Netas: $ {{carteraDos.gananciaNetaTotal}}</h5>
                <h5 class="card-title">Dinero Efectivo: $ {{cartera.dineroEfectivo}}</h5>
                <h5 class="card-title">Dinero Banco: $ {{cartera.dineroBanco}}</h5>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#efectivoModal">
                    Agregar Efectivo
                </button>
                <!-- Modal -->
                <div class="modal fade" id="efectivoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content text-dark">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Cuanto dinero en efectivo quieres agregar?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/cartera/addefectivo" method="POST">
                                    <div class="form-group">
                                        <input type="number" name="dineroEfectivo" class="form-control" placeholder="Dinero en efectivo" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success">
                                            Guardar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#bancoModal">
                    Agregar al banco
                </button>
                <!-- Modal -->
                <div class="modal fade" id="bancoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content text-dark">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Cuanto dinero quieres agregar al banco?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/cartera/addbanco" method="POST">
                                    <div class="form-group">
                                        <input type="number" name="dineroBanco" class="form-control" placeholder="Dinero al banco">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success">
                                            Guardar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
    <div class="card text-white bg-danger h-100">
        <div class="card-header">Gastos</div>
            <div class="card-body">
                <h5 class="card-title">Gastos Productos: $ 1410.50</h5>
                <h5 class="card-title">Gastos Envios: $ 2010.50</h5>
                <h5 class="card-title">Gastos Varios: $ 510.50</h5>
            </div>
    </div>
  </div>
  <div class="graficoDos">
      <div class="card text-dark bg-light h-100">
        <div class="card-header">Estadisticas de Caja</div>
            <div id="chart" class="card-body">
                
        </div>
    </div>
  </div>
  <div class="informacionUno">

  </div>
  <div class="informacionDos">
      
  </div>
  <div class="informacionTres">
      <div class="card text-white bg-dark mb-3">
        <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
    </div>
  </div>
</div>
<script>
var options = {
  series: [{
  name: 'Income',
  type: 'column',
  data: [1.4, 2, 2.5, 1.5, 2.5, 2.8, 3.8, 4.6]
}, {
  name: 'Cashflow',
  type: 'column',
  data: [1.1, 3, 3.1, 4, 4.1, 4.9, 6.5, 8.5]
}, {
  name: 'Revenue',
  type: 'line',
  data: [20, 29, 37, 36, 44, 45, 50, 58]
}],
  chart: {
  height: 350,
  type: 'line',
  stacked: false
},
dataLabels: {
  enabled: false
},
stroke: {
  width: [1, 1, 4]
},
title: {
  text: 'XYZ - Stock Analysis (2009 - 2016)',
  align: 'left',
  offsetX: 110
},
xaxis: {
  categories: [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016],
},
yaxis: [
  {
    axisTicks: {
      show: true,
    },
    axisBorder: {
      show: true,
      color: '#008FFB'
    },
    labels: {
      style: {
        colors: '#008FFB',
      }
    },
    title: {
      text: "Income (thousand crores)",
      style: {
        color: '#008FFB',
      }
    },
    tooltip: {
      enabled: true
    }
  },
  {
    seriesName: 'Income',
    opposite: true,
    axisTicks: {
      show: true,
    },
    axisBorder: {
      show: true,
      color: '#00E396'
    },
    labels: {
      style: {
        colors: '#00E396',
      }
    },
    title: {
      text: "Operating Cashflow (thousand crores)",
      style: {
        color: '#00E396',
      }
    },
  },
  {
    seriesName: 'Revenue',
    opposite: true,
    axisTicks: {
      show: true,
    },
    axisBorder: {
      show: true,
      color: '#FEB019'
    },
    labels: {
      style: {
        colors: '#FEB019',
      },
    },
    title: {
      text: "Revenue (thousand crores)",
      style: {
        color: '#FEB019',
      }
    }
  },
],
tooltip: {
  fixed: {
    enabled: true,
    position: 'topLeft', // topRight, topLeft, bottomRight, bottomLeft
    offsetY: 30,
    offsetX: 60
  },
},
legend: {
  horizontalAlign: 'left',
  offsetX: 40
}
};
var chart = new ApexCharts(document.querySelector("#chart"), options);
chart.render();
</script>